{% extends "layout.html" %}
{% block title %}ASCII{% endblock %}
{% block subtitle %}That sounds painful.{% endblock %}
{% block body %}

<div id="container">
The American Standard Code for Information Interchange (ASCII /ˈæski/ ass-kee)[1] is a character-encoding scheme originally based on the English alphabet that encodes 128 specified characters - the numbers 0-9, the letters a-z and A-Z, some basic punctuation symbols, some control codes that originated with Teletype machines, and a blank space - into the 7-bit binary integers.[2]

ASCII codes represent text in computers, communications equipment, and other devices that use text. Most modern character-encoding schemes are based on ASCII, though they support many additional characters.

ASCII developed from telegraphic codes. Its first commercial use was as a seven-bit teleprinter code promoted by Bell data services. Work on the ASCII standard began on October 6, 1960, with the first meeting of the American Standards Association's (ASA) X3.2 subcommittee. The first edition of the standard was published during 1963,[3][4] a major revision during 1967,[5] and the most recent update during 1986.[6] Compared to earlier telegraph codes, the proposed Bell code and ASCII were both ordered for more convenient sorting (i.e., alphabetization) of lists, and added features for devices other than teleprinters.

ASCII includes definitions for 128 characters: 33 are non-printing control characters (many now obsolete)[7] that affect how text and space are processed[8] and 95 printable characters, including the space (which is considered an invisible graphic[9][10]).

The IANA prefers the name US-ASCII.[11] ASCII was the most commonly used character encoding on the World Wide Web until December 2007, when it was surpassed by UTF-8,[12][13][14] which includes ASCII as a subset.
</div>

{% endblock %}