{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block subtitle %}ASCII, Hex, Base64, UTF-8, and more!{% endblock %}
{% block body %}

<div id="container">
In mathematics and computing, hexadecimal (also base 16, or hex) is a positional numeral system with a radix, or base, of 16. It uses sixteen distinct symbols, most often the symbols 0–9 to represent values zero to nine, and A, B, C, D, E, F (or alternatively a–f) to represent values ten to fifteen.

<img src="http://upload.wikimedia.org/wikipedia/commons/5/59/Gifs_in_txt_and_hex.gif">

In situations where there is no context, hexadecimal numbers can be ambiguous and confused with numbers expressed in other bases. There are several conventions for expressing values unambiguously. A numerical subscript (itself written in decimal) can give the base explicitly: 15910 is decimal 159; 15916 is hexadecimal 159, which is equal to 34510. Other authors prefer a text subscript, such as 159decimal and 159hex, or 159d and 159h.
<br><br>
Data from Wikipedia.
</div>

{% endblock %}