Flask==0.10.1
Flask-Cache==0.13.1
Flask-Limiter==0.5
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.15.3
argparse==1.2.1
bleach==1.4
chardet==2.0.1
colorama==0.2.5
configobj==4.7.2
gunicorn==17.5
html5lib==0.999
itsdangerous==0.24
pyOpenSSL==0.13
pycrypto==2.6.1
pyserial==2.6
requests==2.2.1
six==1.5.2
ssh-import-id==3.21
urllib3==1.7.1
wsgiref==0.1.2
zope.interface==4.0.5
