body {
    border-top: 10px solid #364a5b;
}
input {
    margin-bottom: 10px;
}
h3 {
    margin-bottom: 20px;
}
.form-control {
    display: inline;
    width: 80%;
}
.form-control[type=submit] {
    width: 100%;
}
i {
    font-size: 20px;
    padding-right: 10px;
}
pre {
    opacity: 0.5;
}
